<div class="scenario-audio-inner component__inner">
  {{> component this}}
  <div class="scenario-audio-widget component__widget">
    {{#unless _textBelowImage}}
    <div class="scenario-audio-content">
      <div class="scenario-audio-content-inner">
        {{#each _items}}
        <div class="scenario-audio-content-item {{#if _isVisited}}visited{{/if}}" data-index="{{@index}}">
          {{#if title}}
          <div class="scenario-audio-content-title">
            <div class="scenario-audio-content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}
          {{#if _graphic.alt}}{{{a11y_aria_label _graphic.alt}}}{{/if}}
          <div class="scenario-audio-content-body">
            <div class="scenario-audio-content-body-inner">
              {{{compile body}}}
            </div>
          </div>
          {{#if instruction}}
          <div class="scenario-audio-content-instruction">
            <div class="scenario-audio-content-instruction-inner">
              {{{compile instruction}}}
            </div>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/unless}}
    <div class="scenario-audio-strapline">
      <div class="scenario-audio-strapline-header">
        <div class="scenario-audio-strapline-header-inner clearfix" style="width: {{_totalWidth}}%">
          <div></div>
          {{#each _items}}
          <button class="base scenario-audio-strapline-title {{#if _isVisited}}visited{{/if}}" aria-label="{{{strapline}}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">
            <div class="scenario-audio-strapline-title-inner h5">
              {{{strapline}}}
            </div>
            <div class="icon icon-plus"></div>
            <div class="focus-rect"></div>
          </button>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="scenario-audio-slide-container">
      <button class="base scenario-audio-controls scenario-audio-control-left" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
        <div class="icon icon-controls-left"></div>
      </button>
      <button class="base scenario-audio-controls scenario-audio-control-right" aria-label="{{_globals._accessibility._ariaLabels.next}}">
        <div class="icon icon-controls-right"></div>
      </button>
      <div class="scenario-audio-slider clearfix" style="width: {{_totalWidth}}%">
        {{#each _items}}
        <div class="scenario-audio-slider-graphic {{#if visited}}visited{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">
          <img src="{{_graphic.src}}" aria-hidden="true" />
        </div>
        {{/each}}
      </div>
    </div>
    {{#if _textBelowImage}}
    <div class="scenario-audio-content">
      <div class="scenario-audio-content-inner">
        {{#each _items}}
        <div class="scenario-audio-content-item {{#if _isVisited}}visited{{/if}}" data-index="{{@index}}">
          {{#if title}}
          <div class="scenario-audio-content-title">
            <div class="scenario-audio-content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}
          {{#if _graphic.alt}}{{{a11y_aria_label _graphic.alt}}}{{/if}}
          <div class="scenario-audio-content-body">
            <div class="scenario-audio-content-body-inner">
              {{{compile body}}}
            </div>
          </div>
          {{#if instruction}}
          <div class="scenario-audio-content-instruction">
            <div class="scenario-audio-content-instruction-inner">
              {{{compile instruction}}}
            </div>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    <div class="scenario-audio-indicators">
      {{#each _items}}
      <div class="scenario-audio-progress component-item-color component-item-border {{#if _isVisited}}visited{{/if}}" data-index="{{@index}}"></div>
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
