<div class="component__inner scenario-audio__inner">

  {{> component this}}

  <div class="component__widget scenario-audio__widget">

    {{#unless _textBelowImage}}
    <div class="scenario-audio__content">
      <div class="scenario-audio__content-inner">

        {{#each _items}}
        <div class="scenario-audio__content-item {{#if _isVisited}}is-visited{{/if}}" data-index="{{@index}}">

          {{#if title}}
          <div class="scenario-audio__content-title">
            <div class="scenario-audio__content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}

          {{#if _graphic.alt}}{{{a11y_aria_label _graphic.alt}}}{{/if}}

          {{#if body}}
          <div class="scenario-audio__content-body">
            <div class="scenario-audio__content-body-inner">
              {{{compile body}}}
            </div>
          </div>
          {{/if}}

          {{#if instruction}}
          <div class="scenario-audio__content-instruction">
            <div class="scenario-audio__content-instruction-inner">
              {{{compile instruction}}}
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

      </div>
    </div>
    {{/unless}}

    <div class="scenario-audio__strapline">

      <div class="scenario-audio__strapline-header">
        <div class="scenario-audio__strapline-header-inner u-clearfix" style="width: {{_totalWidth}}%">

          {{#each _items}}
          <button class="scenario-audio__strapline-btn js-scenario-audio-strapline-open-popup{{#if _isVisited}} is-visited{{/if}}" aria-label="{{{strapline}}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

            <span class="scenario-audio__strapline-title">
              <span class="scenario-audio__strapline-title-inner">
                {{{strapline}}}
              </span>
            </span>

            <span class="btn-icon scenario-audio__strapline-icon">
              <span class="icon"></span>
            </span>

            <span class="focus-rect"></span>

          </button>
          {{/each}}

        </div>
      </div>
    </div>

    <div class="scenario-audio__slide-container">

      <button data-direction="left" class="btn-icon scenario-audio__controls scenario-audio__controls-left js-scenario-audio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
        <span class="icon icon-controls-left"></span>
      </button>

      <button data-direction="right" class="btn-icon scenario-audio__controls scenario-audio__controls-right js-scenario-audio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
        <span class="icon icon-controls-right"></span>
      </button>

      <div class="scenario-audio__slider u-clearfix" style="width: {{_totalWidth}}%">

        {{#each _items}}
        <div class="scenario-audio__slider-image-container{{#if _isVisited}} is-visited{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

          <img class="scenario-audio__slider-image js-scenario-audio-swipe" src="{{_graphic.src}}" aria-hidden="true">

        </div>

        {{/each}}

      </div>

    </div>

    {{#if _textBelowImage}}
    <div class="scenario-audio__content">
      <div class="scenario-audio__content-inner">

        {{#each _items}}
        <div class="scenario-audio__content-item{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}">

          {{#if title}}
          <div class="scenario-audio__content-title">
            <div class="scenario-audio__content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}

          {{#if _graphic.alt}}{{{a11y_aria_label _graphic.alt}}}{{/if}}

          <div class="scenario-audio__content-body">
            <div class="scenario-audio__content-body-inner">
              {{{compile body}}}
            </div>
          </div>

          {{#if instruction}}
          <div class="scenario-audio__content-instruction">
            <div class="scenario-audio__content-instruction-inner">
              {{{compile instruction}}}
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

      </div>
    </div>
    {{/if}}

    <div class="scenario-audio__indicators scenario-audio__slide-indicators">

      {{#each _items}}
      <div class="scenario-audio__progress js-scenario-audio-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
      {{/each}}

    </div>

    <div class="u-clearfix"></div>

  </div>
</div>
